version: '3.8'

services:
  warp:
    image: caomingjun/warp
    restart: always
    ports:
      - "1080:1080"
    environment:
      - WARP_SLEEP=2
      - WARP_LICENSE_KEY= # Optional: Put warp+ license key here

  yt-down:
    build: .
    ports:
      - "8088:8088"
    environment:
      - WARP_PROXY=socks5://warp:1080
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8088/"]
      interval: 30s
      timeout: 10s
      retries: 3
    restart: always
    depends_on:
      - warp
